/*Basics*/
body {
    font-family: "Montserrat", sans-serif;
    background-color: #3f0028;
    color: white;
    margin: 0;
    padding: 0;
}
 /*Header*/
.site-header {
    background-color: #ddae78;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #3f0028;
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;;
}

.nav-boxes .nav-item {
    background-color: #e39a1f;
    color: #3f0028;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-boxes .nav-item:hover {
    background-color: #3f0028;
    color: #e39a1f;
}

/*Blog Title*/
.section-divider { 
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.section-name {
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #FFFBDD;
    text-align: left;
    margin: 0 1rem 0.5rem 1rem;
}

.divider-line {
    height: 2px;
    background-color: #FFFBDD;
    margin-left: 1rem;
    max-width: 1350px;
}

/*Blog Content*/
.blog-content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}

.blog-title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", sans-serif;
}

/*Featured Article*/
.featured-article {
    display: flex;
    flex-direction: column;
    background-color: #4a0033;
    padding: 2.5rem 2rem 2rem 2rem;
    border-radius: 12px;
    align-items: center;
    max-width: 700px;
    margin: 2rem auto;
    transition: transform 0.3s ease;
    text-align: center;
}

.featured-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 12px rgba(0,0,0,0.12);
}
  

.featured-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.featured-article h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color: #E39A1F;
    margin-bottom: 1rem;
}

.featured-article p {
    font-family: "Montserrat", serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #FFFBDD;
    margin-bottom: 1rem;
}

.featured-article .author {
    font-family: "Montserrat", serif;
    font-weight: bold;
    font-size: 0.9rem;
    color: #FFFBDD;
    text-align: center;
}

.featured-article:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(221, 175, 120, 0.4);
}

/*Articles*/
.articles {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.article {
    padding:2rem;
    height: auto;
    border-radius: 12px;
    text-align: center;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    transition: transform 0.3s ease;
}

.article:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(221, 175, 120, 0.4);
}

.article img {
    width: 120%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.article h3 {
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    text-align: center;
    font-weight: 800;
    font-size: 0.85rem;
    color: #FFFBDD;
    margin-bottom: 0.5rem;
}

.article p {
   font-family: "Helvetica", sans-serif;
   font-weight: bold;
   font-size: 0.9rem;
   line-height: 1.4rem;
   color: #FFFBDD;
   margin-bottom: 1rem;
}

.article p em {
    font-style: normal;
    font-family: "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 0.9rem;
    color: #FFFBDD;
}

.article .author {
    font-weight: bold;
    font-size: 0.85rem;
    text-align: center;
    color: #FFFBDD;
}

/*Older Articles*/
.older-articles {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #FFFBDD;
    text-decoration: none;
    font-weight: bold;
}

.older-articles:hover {
    text-decoration: underline;
}

