/*Basics*/
body {
    font-family: "Montserrat", sans-serif;
    background-color: #3f0028;
    color: white;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: #ddae78;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #3f0028;
}

.nav-container {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px;;
}

.nav-boxes .nav-item {
    background-color: #e39a1f;
    color: #3f0028;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-boxes .nav-item:hover {
    background-color: #3f0028;
    color: #e39a1f;
}

/*Blog Content*/
.blog-content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.blog-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: "Archivo Black", sans-serif;
}


.featured-article {
    display: flex;
    gap: 1.5rem;
    background-color: #4a0033;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}


.featured-image {
    width: 30%;
    border-radius: 10px;
}

.featured-text h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    font-family: "Playfair Display", serif;
}

.featured-text p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-bottom: 0.8rem;
}

.featured-text .author {
    font-weight: bold;
    font-size: 0.9rem;
    color: #ddae78;
}

/*Article Section*/
.articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.article {
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    transition: transform 0.3s ease;
}

.article:hover {
    transform: scale(1.02);
    box-shadow: 0 0  15px rgba(221,175,120,0.4 green, blue, alpha);
}

.article img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.article h3 {
    font-size: 1.1rem;
    margin-bottom: 0 0 0.5rem;
    font-family: "Playfair Display", serif;
}

.article p {
    font-size: 0.9rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.article .author {
    font-weight: bold;
    font-size: 0.85rem;
    color: #ddae78;
}

.blog-content {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 2rem;
}
/*Older Articles*/
.older-articles {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #ddae78;
    text-decoration: none;
    font-weight: bold;
}

.older-articles:hover {
    text-decoration: underline;
}