body {
    background-color: #3f0028;
    margin: 0;
    font-family: "Monteserrat", sans-serif;
}

.site-header {
    background-color: #3f0028;
    padding: 1rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.nav-boxes {
    display: flex;
    gap: 1rem;
}

.nav-item {
    background-color: transparent;
    color:white;
    border: 1px solid white; 
    padding: 0.5rem 1rem;
    border-radius:4px;
    cursor: pointer;
}

.nav-item:hover {
    background-color: white;
    color: #3f0028;
}

.hero {
    position: relative;
    text-align: center;
    color: white;
    background-color: #3f0028;
    padding-bottom: 2rem;
}

.hero-image {
    background-image: url("/pages/homepage-img/alpacino.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

.hero-text {
    margin-top: 2rem;
    padding: 2rem;
}

.hero-text p {
    font-size: 1rem;
    font-weight: 600;
    margin:1rem 0;
}

.cta-button {
    font-size: 0.9rem;
    background-color: #ffda4f;
    color: #3f0028;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;¨
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #e6c23c;
}

section.trending {
    background-color: #3f0028;
    padding: 2rem 1rem;
    text-align: center;
}

.trending h3 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.trending-items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    overflow-x: auto;
    padding-left: 1rem;
    margin-left: 0;
}

.trending img {
    width: 120px;
    border-radius: 6px;
}

.arrow {
    background-color: #ffda4f;
    color: #3f0028;
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3ms
}

.arrow:hover {
    background-color: #e6c23c;
}

@media (max-width:768px) {
    .hero-text h2  {
        font-size: 1.5rem;
    }
}

.trending-items {
    flex-direction: row;
    overflow-x: scroll;
}

.trending-items img {
    width: 100px;
}