/* imported font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

/* resetting styles and setting the font for default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

/* base font size */
html {
  font-size: 98.5%;
}

/* basics */
body {
  background-color: #3f0028;
}

.logo-box {
  background-color: #4c102b;
  padding: 30px 40px;
  border-radius: 12px;
  display: inline-block;
  margin: 0 auto;
  justify-content: center;
}

/* product images */
.login-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
}

.login-img img {
  width: 80px;
  height: auto;
  object-fit: contain;
  border-radius: 50%;
}

/* trim the white space of photo */
.google {
  height: 60px;
  width: auto;
  object-fit: contain;
  padding: 0;
}

/* log in text above logos */
h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}
