body {
  overflow-x: hidden;
}

.popular-members-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.popular-members.active {
  opacity: 1;
  transform: scale(1.1);
}

.rotation-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.popular-header {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 150px;
  padding: 10px;
}
.popular-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0.5;
}
/*div containers for the dividing line above images*/
.section-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.section-name {
  font-size: 15px;
  text-align: center;
  margin-top: 10;
}

.divider-line {
  border: none;
  border-top: 1px solid #ccc;
  width: 50%;
}
.featured-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
}
.featured-container {
 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 4px;
}



.featured-container figcaption {
  font-size: 12px;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
  line-height: 1.2;
}

.featured-container figure {
  text-align: center;
  margin: 0;
}

.popular-reviews-container {
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.review-profile {
  display: flex;
  align-items: center;
  gap: 1x;
  margin-top: 20px;
  margin-bottom: -50px;
  margin-left: -110px;
}

.profile-review-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.username-reviewer {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-size: 15px;
  margin-left: 45px;
}

.movie-review {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.movie-img {
  width: 100px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.movie-title {
  font-size: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
}

.comments {
  padding-left: 10px;
  font-weight: thin;
}

.stars {
  margin-bottom: 20px;
  padding-left: 10px;
  color: gold;
  font-size: 15px;
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
