/* Basic style */
body {
  margin: 0;
  background-color: #4A0000;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: white;
}

/* Header */
.site-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: none;
  padding: 1rem 1rem;
  flex-wrap: wrap;
  position: relative;
}

/* Logo */
.logo-button {
  flex: wrap;
  background-color: #220016;
  border: none;
  border-radius: 8px;
}
.logo {
  height: 50px;
  max-width: 100%;
  object-fit: contain;
  background:none;;
}

.logo-button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px #121212;
}


/* Hero Section*/
.hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 380px;
}

.hero-video {
  width: 100%;
  height: 900px;
  object-fit: cover;
  display: block;
}

/* Navigation Boxes */
.nav-boxes {
  display: flex;
  gap: 1rem;
}

.nav-item {
  background: none;
  color: #ffe4c4;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  text-decoration: none;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffe4c4;
  text-align: center;
  font-size: 12px;
  margin-top: 0;
}
.footer {
  background-color: #500101;
  height: auto;
  min-height: 100px;
  margin-top: 50px;
}

.footer-logo-img {
  height: 30px;
  max-width: 100%;
  margin-left: 0;
}

.footer-links {
  display: flex;
  gap: 30px;
}

.footer-links a {
  font-size: 15px;
  color: #ffe4c4;
  text-decoration: none;
  opacity: 80%;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.social-media-icons a {
  display: inline-block;
  height: 25px;
  width: 25px;
}
.social-media {
  min-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

/* Hover effect */

.nav-item:hover {
  box-shadow: 0 0 20px #ffe4c4;
}

/* Mobile Menu Drop mENù */
.menu-toggle {
  display: none;
}

/* Responsive for moblie screens*/
@media (max-width: 768px) {
  .nav-boxes {
    flex-direction: column;
    width: 100%;
    display: none;
    margin-top: 1rem;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #ffe4c4;
    cursor: pointer;
  }

  .nav-boxes.active {
    display: flex;
  }

  .site-header {
    display: flex;
    flex-direction: row;
  }

  .logo-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
